<!DOCTYPE html>

{% autoescape true %}

<html lang="en">

<head>

    {% block head_title %}
    <title>Connex: Base</title>
    {% endblock %}

</head>

<body >

    <div >
    <h1><b>Connexus</b></h1>

      <a href="/manage" >Manage</a>
      <a href="/create" >Create</a>
      <a href="/view_all" >View</a>
      <a href="/search" >Search</a>
      <a href="/view_trending" >Trending</a>
      <a href="/feeling_lucky" >I'm Feeling Lucky</a>
      <a href="{{ logout_url }}" >Log Out</a>


    </div>


    <!-- Main Content -->
    {% block main_content %}


    {% endblock %}

</body>

</html>

{% endautoescape %}