{% extends "fresh_base.html" %}

{% block head_title %}

<title>Connex: FeelLucky</title>

{% endblock %}
{% block main_content %}

<div class="row">
    <div class="col-xs-12">
        <h4>I'm Feeling lucky</h4>
    </div>
</div>
  <!-- A List of Cover Pictures-->

<div class="row">
    <div class="col-xs-4">
        <div class="thumbnail">
            <div style="height: 320px;">
                <a href="{{stream_with_url[1]}}" >
                <img src="{{stream_with_url[0]}}" style="height: 260px; align-items: center" class="img-rounded"/>
                <p class="img-comment">{{stream_with_url[2]}}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4"></div>
</div>



{% endblock %}