<!DOCTYPE html>

{% autoescape true %}

<html lang="en">

<head>

    {% block head_title %}
    <title>Connex: Base</title>
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/dist/css/flat-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

</head>

<body>
    <div class="container">
        <h1>Connexus</h1>
        <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/manage">Manage</a></li>
                    <li><a href="/create">Create</a></li>
                    <li><a href="/view_all">View</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="/view_trending">Trending</a></li>
                    <li><a href="/social">Social</a></li>
                    <li><a href="/feeling_lucky">Lucky</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ logout_url }}"><span class="fui-exit"></span> Log Out</a></li>
                </ul>
            </div>
        </nav>


    <!-- Main Content -->
    {% block main_content %}


    {% endblock %}

    </div>
</body>

</html>

{% endautoescape %}