{% extends "fresh_base.html" %}

{% block head_title %}

<title>Connexus: Search</title>


{% endblock %}
{% block main_content %}


<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <!-- Search Area-->
        <form action="{{search_send_request_handler_url}}" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" name="searchword" id="birds">
                    <span class="input-group-btn">
                        <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                </div>
        </form>
    </div>
    <div class="col-xs-3"></div>
</div>

{% for s in stream_list %}
<br>
<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        <div class="thumbnail">
            <div style="height: 320px;">
                <img src="{{s['CoverPage']}}" style="height: 260px; align-items: center" class="img-rounded"/>
                <p class="img-comment">{{s['Name']}}</p>
            </div>
        </div>
    </div>
    <div class="col-xs-4"></div>
</div>


{% endfor %}

  <!-- Result Area-->

{% endblock %}