{% extends "fresh_base.html" %}

{% block head_title %}

<title>Connex: Create</title>

{% endblock %}
{% block main_content %}
<form action="{{create_stream_url}}" method="post">
    <h4>Name your Stream</h4>
      <!-- Stream name-->
    <input type="text" name="stream_name"/> <br>

      <!-- Subscribers-->
    <h4>Add Subscribers</h4>
    <textarea name="subscribers" rows="5" placeholder="abc@def.com"></textarea>

    <textarea name="message" rows="5" placeholder="Message for invite"></textarea>

      <!-- Tags -->
    <h4>Tag Your Streams</h4>
    <textarea name="tags" rows="5" placeholder="#tags"></textarea> <br>

      <!-- URLs -->
    <h4>URL to cover image</h4>
    <input type="text" name="cover_url"/> <br>

    <input type="submit" value="Create Stream"/>

</form>

{% endblock %}