{% extends "fresh_base.html" %}

{% block head_title %}

<title>Connex: Manage</title>

{% endblock %}
{% block main_content %}

<h3>Streams I Own</h3>
        <table >
            <tr>
                <th>Name</th>
                <th>Last New Picture</th>
                <th>Number of Pictures</th>
                <th>Delete</th>
            </tr>
            {% for s in owned_stream_list %}
            <tr>
                <td><a href="">{{ s['name'] }}</a></td>
                <td>{{ s['latest_date'] }}</td>
                <td>{{ s['num_of_pics'] }}</td>
                <td><input type="checkbox" name="delete_owned" value="{{ s['name'] }}"></td>
            </tr>
            {% endfor %}

        </table>

        {% for s in owned_stream_list %}

        <p> {{ s }}</p>
        {% endfor %}
<h3>  Streams I Subscribe to</h3>
  <!-- First Photo Grid-->


{% endblock %}