{% extends "fresh_base.html" %}

{% block head_title %}

<title>Connex: ViewSingle </title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/assets/js/dropzone.js"></script>

<link type="text/css" rel="stylesheet" href="/assets/css/dropzone.css">

<!--<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>-->
<!--<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">-->

{% endblock %}
{% block main_content %}
<br><br>
<h2>Stream Name: {{stream_id}}</h2>
  <!-- A List of Pictures-->
{% for s in pict_list[:page_range] %}
<div class="col-xs-3">
    <div class="thumbnail">
        <div style="height: 300px;">
            <img src="{{s}}" style="height: 260px; align-items: center" class="img-rounded"/>
        </div>
    </div>
</div>
{% endfor %}

{% if is_owned %}
  <!-- Upload Area-->


<!--<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>-->
<!--<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">-->

<!--<form action="/upload_image_handler_url" method="post" enctype="multipart/form-data" class="dropzone" id="my-drop-zone" name="file">-->

    <!--&lt;!&ndash;<div class="fallback">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="file" name="img"/> <br>&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="hidden" name="stream_id" value="{{stream_id}}"/> <br>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="fallback">&ndash;&gt;-->
        <!--&lt;!&ndash;<input name="img" type="file" />&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--&lt;!&ndash;<input hidden name="stream_id" value="{{stream_id}}"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Picture Name</p> <input type="text" name="img_name"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="file" name="img"/> <br>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="hidden" name="stream_id" value="{{stream_id}}"/> <br>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="submit" value="upload"/>&ndash;&gt;-->

<!--</form>-->

<script src='/assets/js/upload_control.js'></script>
<div class="container">
    <!-- The method must be "POST" and enctype must be set to "multipart/form-data" -->
    <div>
        <form action="/upload_image_handler_url" class="dropzone" id="mydropzone" method="post" enctype="multipart/form-data">
            <input hidden name="stream_id" value="{{stream_id}}"/>
        </form>

        <form>
            <button type="button" onclass="btn btn-success" onclick="window.location.href='https://pigeonhole-apt.appspot.com/view_single?stream_id={{stream_id}}'">Confirm</button>
        </form>

        <!--<a href="https://pigeonhole-apt.appspot.com/view_single?stream_id={{stream_id}}">Confirm</a>-->
        <!--<form action="https://pigeonhole-apt.appspot.com/view_single?stream_id={{stream_id}}">-->
            <!--<input type="submit" value="Confirm" />-->
        <!--</form>-->
    </div>
</div>
{% endif %}

<form action="{{view_single_show_more_handler_url}}" method ="get">
    <input type="hidden" name="stream_id" value="{{stream_id}}"/>
    <input type="hidden" name="page_range"  value="{{page_range}}" />

    {% if not is_all %}
    <input type="submit" value="Show More" />
    {% endif %}

</form>

  <!-- Subscribe this-->
{% if not is_subed %}
<form action="{{view_single_subscribe_handler_url}}" method="get" >
    <input type="hidden" name="stream_id" value="{{stream_id}}"/> <br>
    <input type="hidden" name="is_subed" value="{{is_subed}}" />
    <input type="submit" value="subscribe"/>
</form>

{% endif %}

{% if is_subed %}
  <!-- Unsubscribe this-->
<form action="{{view_single_subscribe_handler_url}}" method="get" >
    <input type="hidden" name="stream_id" value="{{stream_id}}"/> <br>
    <input type="hidden" name="is_subed" value="{{is_subed}}" />
    <input type="submit" value="unsubscribe"/>
</form>

{% endif %}


<a href="{{geo_view_handler_url}}">Geo View</a>

{% endblock %}