{% extends "fresh_base.html" %}

{% block head_title %}

<title>Connex: Trending</title>

{% endblock %}
{% block main_content %}

  <!-- A List of Cover Pictures-->
{% for s in stream_list %}
<p>{{s['Name']}}</p>
<a href="{{s['url']}}"><img src="{{s['CoverPage']}}" width="300" height="200"/></a>
<p>{{s['NumberOfViews']}} views</p>
{% endfor %}


<br><br>
<h4>Email Trending Report</h4>
<form action="{{view_trending_update_rate_handler_url}}" method="get">
    <input type="radio" name="rate" value="no">No reports<br>
    <input type="radio" name="rate" value="5min">Every 5 minutes<br>
    <input type="radio" name="rate" value="1hour">Every 1 hour<br>
    <input type="radio" name="rate" value="1day">Every day<br>
    <input type="submit" value="update_rate"/>
</form>

{% endblock %}