{% extends "fresh_base.html" %}

{% block head_title %}

<title>Connexus: Manage</title>

{% endblock %}
{% block main_content %}

<h4>Streams I Own</h4>
    <form action="{{ delete_owned_stream_handler_url }}" method="post">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Last New Picture</th>
                <th>Number of Pictures</th>
                <th>Views</th>
                <th>Delete</th>
            </tr>
            {% for s in owned_stream_list %}
            <tr>
                <td><a href="{{s['url']}}">{{ s['Name'] }}</a></td>
                <td>{{ s['LastPictDate'] }}</td>
                <td>{{ s['NumberOfPict'] }}</td>
                <td>{{ s['Views'] }}</td>
                <td><input type="checkbox" name="delete_owned" value="{{s['Name']}}" class="custom-checkbox"></td>
            </tr>
            {% endfor %}
        </table>
        <div class="col-xs-3">
            <input type="submit" value="Delete Checked" class="btn btn-block btn-danger">
        </div>
        <br>
    </form>
    <br>

<h4>  Streams I Subscribe to</h4>
    <form action="{{ unsubscribe_stream_handler_url }}" method="post">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Last New Picture</th>
                <th>Number of Pictures</th>
                <th>Views</th>
                <th>Delete</th>
            </tr>
            {% for s in subed_stream_list %}
            <tr>
                <td><a href="{{s['url']}}">{{ s['Name'] }}</a></td>
                <td>{{ s['LastPictDate'] }}</td>
                <td>{{ s['NumberOfPict'] }}</td>
                <td>{{ s['Views'] }}</td>
                <td><input type="checkbox" name="unsubscribe" value="{{s['Name']}}" class="custom-checkbox"></td>
            </tr>
            {% endfor %}
        </table>
        <div class="col-xs-3">
            <input type="submit" value="Unsubscribe Checked" class="btn btn-block btn-danger">
        </div>
        <br>
    </form>


{% endblock %}